{{#if itemExist}}
<table class="table table-striped">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Price</th>
        <th scope="col">Img</th>
    </tr>
    {{#each arrPro}}
    <tr>
        <th scope="row">{{this.id}}</th>
        <th>{{this.title}}</th>
        <th>${{this.price}}</th>
        <th><img src="{{this.thumbnail}}" alt="{{this.title}}"></th>
        
    </tr>
    {{/each}}
</table>
{{else}}
<h1>No hay Elementos</h1>
{{/if}}

